body {
    background-color:aquamarine
}
#score {
    font-size:30px;
    margin-left:20px;
}
#timer {
    font-size:30px;
    float:right;
    margin-right:20px;
}
#sketch_to_be_drawn {
    color:blue;
}